* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: #373335;
}

@keyframes fade {
    from {
        opacity: 0;
    }
}

@font-face {
    font-family: DancingScript;
    src: url('../assets/fonts/DancingScript-Regular.ttf');
 }

.scroll-container{
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

#home, #appointment-page{
    height: 100vh;
    display: flex;
    animation: fade 1.5s;
    scroll-snap-align: center;
}

#appointment-page{
    justify-content: center;
    align-items: center;
}

.left-side {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    color: #fcf5eb;
    font-size: 12px;
    letter-spacing: 5px;
}

.left-side h2 {
    height: 2ch;
    margin-top: 5px;
    white-space: nowrap;
    text-shadow: 2px 2px black;
}

.left-side h3 {
    white-space: nowrap;
    overflow: hidden;
    opacity: 1;
    text-shadow: 2px 2px black;
}

.logo{
    font-family: 'DancingScript', cursive;
    color: #F8676B;
    letter-spacing: 1px;
    text-transform: capitalize;
    font-size: 80px;
    margin-top: 100px;
    pointer-events: none;
    user-select: none;
    margin-bottom: 98px;
}

@keyframes PositionImageAnimation {
    0% {
		background-position: 60% 0%;
	}
}


.right-side{
    min-width: 50%;
    min-height: 100%;
    display: flex;
    background-image: 
    linear-gradient(90deg, #373335, rgba(73, 252, 67, 0.115)),
    url("../assets/img/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1.3;
    animation: fade 2s, PositionImageAnimation 3s;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-right: 100px;
    margin-top: 50px;
    padding: 80px;
    width: 50%;
    height: 100%;
    gap: 30px;
}


.form input, .form textarea {
    color: #fcf5eb;
    width: 400px;
    height:40px;
    padding: 12px;
    outline: 0;
    border: 1px solid gray;
    background-color: transparent;
}

.form textarea{
    color: #fcf5eb;
    resize: none;
    width: 500px;
    height: 200px;
    overflow-y: hidden;
}

.form input:focus, .form textarea:focus{
    border-color: #f8676b;
}


.btnAgende, .btnEnviar {
    width: 200px;
    font-size: 1rem;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-top: 50px;
    background-color: #F8676B;
    color: #fcf5eb;
    font-family: 'DM Sans', sans-serif;
    padding: 20px;
    border: none;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #fcf5eb;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.btnEnviar {
    width: 100px;
}

.btnAgende:hover, .btnEnviar:hover{
    box-shadow: inset 400px 0 0 0 #fcf5eb;
    color: #F8676B;
    border-color: #fcf5eb;
    transition: all .3s ease;
}

.sugestoes {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.drinks-container {
    text-align: center;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.drinks-container .title {
    font-family: 'DancingScript', cursive;
    color: #F8676B;
    font-size: 40px;
}

.drinks-container::-webkit-scrollbar {
    width: 0! important
}

.drinks-container .drinks{
    position: relative;
    width: 260px;
    height: 340px;
    overflow: hidden;
    display: inline-block;
    margin: 20px;
    box-shadow: 2px 2px black;
}


.drinks-container .drinks img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    vertical-align: middle;
    transition: all .3s;
    position: relative;
}

.drinks-container .drinks:hover img{
    filter: blur(3px);
    transform: scale(1.1)
}

.drinks-container .drinks:hover .description-drink{
    top:0em;
}

.description-drink {
    font-size: 16px;
    padding: 10px;
    position: absolute;
    color: #fcf5eb;
    background-color: #000000c3;
    width: 100%;
    height: 340px;
    top: 17em;
    display: flex;
    flex-direction: column;
    transition: all .3s;
    word-wrap: break-word;
    z-index: 1;
}

.description-drink h1 {
    font-family: 'DancingScript', cursive;
    margin: 0 auto;
}

.description-drink p {
    font-size: 1rem;
}


@media (max-width: 898px)
{
  .right-side{
    display: none;
  }
  .left-side {
    margin: 0 auto;
  }

  #appointment-page{
        height: 100%;
        flex-direction: column;
        padding: 10px;
        margin-top: 300px;
        overflow: scroll;
    }

   .form {
        margin-top: 800px;
        margin-right: 300px;
    }
}